.wrap {
  position: relative;
  height: calc(100vh - 70px);
  .i1 {
    padding: 143px 0;
    background-color: rgba(60, 100, 177, 0.06);
    h1 {
      @include NotoSans(4.4, 700, #373F41);
      text-align: center;
    }
    .info {
      margin: 30px auto 0;
      @include NotoSans(1.6, 400, #373F41);
      max-width: 730px;
    }
    .btnGroup {
      margin-top: 56px;
      display: flex;
      justify-content: center;
      .btnStart {
        @include NotoSans(1.4, 700, #fff);
        padding: 0 18px;
        background: #4BC1C2;
        height: 42px;
        line-height: 42px;
      }
      .btnHowto {
        @include NotoSans(1.4, 700, #4BC1C2);
        border: 1px solid #4BC1C2;
        height: 42px;
        line-height: 42px;
        padding: 0 18px;
      }
    }
  }

  .mobile {
    background: #fff;
    .m1 {
      padding: 0 20px;
      h1 {
        @include NotoSans(1.8, 500, #000);
        text-align: center;
        padding-top: 100px;
      }
      .comment {
        text-align: center;
        @include NotoSans(1.6, 400, #737B7D);
      }
      .btnGroup {
        display: flex;
        justify-content: center;
        .btnStart {
          width: 90px;
          text-align: center;
          @include NotoSans(1.4, 700, #fff);
          background: #4BC1C2;
          height: 42px;
          line-height: 42px;
        }
        .howToBuy {
          border: 1px solid #4BC1C2;
          height: 42px;
          width: 90px;
          @include NotoSans(1.4, 700, #4BC1C2);
          line-height: 40px;
          text-align: center;
        }
      }
      ul {
        li {
          margin-bottom: 30px;
          .img{
            text-align: center;
          }
          h2 {
            text-align: center;
            @include NotoSans(2.4, 700, #373F41);
          }
          .commentH2 {
            text-align: center;
            @include NotoSans(1.6, 400, #737B7D);
          }
          h3 {
            @include NotoSans(1.8, 700, #373F41);
            text-align: center;
            margin-bottom: 12px;
          }
          .commentH3 {
            @include NotoSans(1.4, 400, #373F41);
            text-align: center;
          }
        }
      }
    }
    .appDown {
      background-color: #231F20;
      padding:40px 20px 80px;
      h2 {
        @include NotoSans(2.4, 700, #fff);
        text-align: center;
      }
      .btnGroup{
        display:flex;
        justify-content:space-between;
        a{
          width:calc(50% - 10px);
          text-align: center;
          padding:20px 0;
          background:#4BC1C2;
          @include NotoSans(1.6, 700, #fff);
          i{
            padding-right:5px;
            img{
              vertical-align:0;
            }
          }
        }
      }
    }
  }
}


@include mobile{
  .wrap{
    background-color: #fff;
  }
  .i1{
    display:none;
  }
}
@include pc{
  .mobile{
    display:none;
  }
}

