.footer{
  padding:30px 20px;
  .copy{
    text-align:center;
    @include NotoSans(1.4, 400, #000);
  }
  .sns{
    margin-top:30px;
    display:flex;
    justify-content:center;
    li{
      margin:0 15px;
      img{
        width:20px;
      }
    }
  }
}
