//responsive
$breakpoint-mobile: 440px;
@mixin mobile {
  @media (max-width: #{$breakpoint-mobile})  {
    @content;
  }
}
@mixin pc {
  @media (min-width: #{$breakpoint-mobile})  {
    @content;
  }
}
html{
  font-size:62.5%;;
  overflow-y: auto !important;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:400;
}
h2{
  font-size: 1.6rem;
  font-weight:700;
  color:#000;
}
h3{
  font-size: 1.5rem;
  font-weight:400;
  color:#000;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {
  margin:0;
  padding:0;
}
fieldset,img {
  border:0 none
}
body{
  font-size:1.4rem;
  color:#323232;
  letter-spacing: -0.03rem;
  background-color:#F5F5F5;
}
img{
  vertical-align:bottom
}
dl,ul,li,ol{
  margin:0;padding:0;list-style:none
}
table,div,*{
  box-sizing: border-box;
}
table{
  table-layout: fixed;
  border-collapse:collapse;
  border-spacing:0;
  border:0;
  width:100%;
}
caption{font-size:0;}
*:focus {
  outline: none
}
button{
  cursor:pointer !important;
}
select{
  -moz-appearance:none;
  -webkit-appearance:none;
  appearance:none;
}
select::-ms-expand {display:none}
.clearfix:after{
  display:table;
  clear:both;
  content:'';
  overflow:hidden;
  visibility:hidden;
  height:0;
  width:0;
}
.hidden{
  display:none !important
}
.label-hidden{
  position:absolute;
  top:0;
  left:-10000000px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
input:focus:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-ms-reveal {
  display:none;
}
a{
  text-decoration: none;
  display:inline-block;
}
span,em,i{
  display:inline-block;
}
.per100{
  width:100% !important;
}
.cursor{
  cursor:pointer !important;
}
//align
.left{
  text-align:left !important
}
.right{
  text-align:right !important
}
.center{
  text-align:center !important
}

.theme--light.v-application {
  background-color:#F5F5F5 !important;
}
//margin, padding setting
@for $i from 0 through 200 {
  .mt#{$i} {
    margin-top: 0.1rem * $i !important;
  }
  .ml#{$i} {
    margin-left: 0.1rem * $i !important;
  }
  .mr#{$i} {
    margin-right: 0.1rem * $i !important;
  }
  .mb#{$i} {
    margin-bottom: 0.1rem * $i !important;
  }
  .pt#{$i} {
    padding-top: 0.1rem * $i !important;
  }
  .pl#{$i} {
    padding-left: 0.1rem * $i !important;
  }
  .pr#{$i} {
    padding-right: 0.1rem * $i !important;
  }
  .pb#{$i} {
    padding-bottom: 0.1rem * $i !important;
  }
}
//width setting
@for $i from 1 through 500 {
  .w#{$i} {
    width: 0.1rem * $i !important;
  }
}
